<section class="hero bg-light text-center text-white py-5" id="hero"
    style="background-image: url('https://www.nahb.org/-/media/NAHB/blog/1600x900-images/innovative-housing-showcase-mall-1600x900.jpg'); background-size: cover; background-position: center; opacity: 0.8;">
    <div class="container">
        <h1 class="display-4">Find Your Perfect Home</h1>
        <p class="lead">Explore the best-rated properties in your city</p>
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="input-group my-4">
                    <input type="text" class="form-control" placeholder="Search properties..." aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>