<!-- Partners Section -->
<section id="partners" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center mb-4">
        <h2>Our Partners</h2>
      </div>
    </div>
    <div class="row partners-carousel">
      {% for partner in partners %}
      <!-- Partner -->
      <div class="col-md-4 text-center mb-4">
        <div class="partner">
          <a href="{{ partner.website }}" target="_blank"><img src="{{ partner.logo.url }}" alt="{{ partner.name }}"></a>
        </div>
      </div>
      {% empty %}
      <div class="col">
        <p>No partners found.</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
