{% extends 'base.html' %} {% block title %}Home - Real Estate Website{% endblock title %} {% block content %}
<!-- Hero with search bar -->
{% include 'partials/hero.html' %}

<!-- Featured properties -->
{% include 'partials/featured_properties.html' %}

<!-- Why Choose Us -->
{% include 'partials/why_choose_us.html' %}

<!-- Our Team -->
{% include 'partials/our_team.html' %}

<!-- Testimonials -->
{% include 'partials/testimonials.html' %}

<!-- Partners -->
{% include 'partials/partners.html' %} {% endblock %}
